<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMappper">

    <select id="selectBookByUser" resultType="com.example.demo.pojo.Book">
        select Book.* from Book,user where book.author=
        (select username from user where id = #{UserId})
    </select>
</mapper>
